.global-header {
  padding: 20px 0;
  box-shadow: 0px 4px 50px 0px rgba(229, 231, 232, 0.80);
  z-index: 99;

  .nav-logo {
    position: relative;
    width: 193px;
    height: 40px;

    img {
      object-position: left;
    }
  }

  .logout {
    img {
      object-position: right;
    }
  }

  @media (min-width: $mobile-min) and (max-width: $mobile-max) {
    .nav-logo {
      width: 100%;
      height: 32px;
    }
  }
}


/* Bot icon styles */
.bot-icon {
  position: fixed;
  bottom: 20px;
  right: 40px;
  cursor: pointer;
  z-index: 1000;
  padding-right: 20px;
  padding-bottom: 20px;

  img {
    width: 50px;
    height: 50px;

  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.bot-icon:hover img {
  animation: rotate 0.5s ease-in-out;
  /* Adjust duration and easing as needed */
}


/* Bot iframe container */
.bot-iframe-container {
  position: fixed;
  bottom: 100px;
  right: 60px;
  width: 300px;
  height: 330px;
  max-width: 90%;
  max-height: 70vh;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  z-index: 1000;

  iframe {
    width: 100%;
    height: 100%;
  }

  /* Responsive adjustments */
  @media (max-width: 768px) {
    width: 90vw;
    height: 60vh;
    bottom: 60px;
    right: 10px;
  }

  @media (max-width: 480px) {
    width: 100vw;
    height: 50vh;
    bottom: 50px;
    right: 30px;
  }
}

/* Remove padding for mobile screens */
@media (max-width: 768px) {
  .bot-icon {

    padding-right: 0;
    padding-bottom: 0;
    bottom: 5;
    right: 5;
  }

  .bot-iframe-container {
    bottom: 80px;

  }
}